.App {
  text-align: center;
}

.bgColor {
  background-color: #d1ecf1 !important;
}

.loginLink {
  margin-top: 50px;
}

.navbar {
  min-height: 4rem;
}
a {
  color: black !important;
}
.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
  color: black;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.navbar-brand:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #76c7d5;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.formCss {
  padding: 35px;
}
.formHeader {
  margin: 25px 0 25px;
  font-size: 22px;
}
.footer {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 50px;
  text-align: center;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 5px;
}
.dropdownCenter{
  display: flex;
  justify-content: center;
}
